$base-color: var(--bs-body-color);
$faint-color: var(--bs-border-color);

html {
  scroll-padding-top: 5vh;
}

body {
  color: $base-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

.content {
  text-align: justify;
  flex-grow: 1;
  font-size: 1.3em;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 8 / 5;
  vertical-align: middle;
}

.post-preview {
  width: 100%;
  text-align: center;
}

.fake-thumbnail {
  border: var(--bs-border-width) solid $faint-color;
  border-radius: var(--bs-border-radius);
  max-height: 100%;
  max-width: 75vw;
  width: 100%;
  aspect-ratio: 8/5;
}

.thumbnail img {
  max-height: 100%;
  width: min(75vw, 100%);
}

.page-thumbnail {
  max-width: 75%;
  max-height: 50vh;
}

.collaborators img {
  width: 18%;
}

a {
  text-decoration: none;
}

#search-results {
  position: absolute;
  background: #fff;
  color: $base-color;
  padding: 1rem;
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,.5);
  border-radius: 5px;
  max-height: 500px;
  overflow-y: auto;
  width: min(200%, 90vw);
  right: 0;
  top: 100%;
  text-align: center;
}

#search-results li {
  list-style: none;
  margin-top: 1rem;
  border-bottom: 1px solid #ccc;
  font-size: .9rem;
}

#galleryCarousel {
  max-height: 50vw;
}

#galleryCarousel img {
  max-height: 50vw;
  max-width: min(75vw, 100%);
}
