{% extends "base.html" %}

{% block content %}

{% if term.name == 'school' %}
{% include "school.html" %}
{% endif %}
{% if term.name == 'regional' %}
{% include "regional.html" %}
{% endif %}
{% if term.name == 'national' %}
{% include "national.html" %}
{% endif %}
{% if term.name == 'stage' %}
{% include "stage.html" %}
{% endif %}
{% if term.name == 'international' %}
{% include "international.html" %}
{% endif %}

<div class="p-3"></div>

<div class="row">
{% for page in term.pages %}
  <div class="col-xl-3 col-md-4 col-sm-6 highlight">
    {% include "preview.html" %}
  </div>
{% endfor %}
</div>

{% endblock content %}
