{% extends "base.html" %}

{% block content %}

{% set path = ["fixed/", term.name, ".md"] | join %}
{% set page = get_page(path=path) %}

<div class="row">
  <h1>{{page.title | safe }}</h1>
</div>
<div class="row lead">
  {{page.content | safe }}
</div>

<div class="p-3"></div>

<div class="row">
{% for page in term.pages %}
  <hr>
  <h1 class="title">
    <a href="{{ page.permalink | safe }}" class="link-secondary link-underline-opacity-0" >{{ page.title }}</a>
  </h1>
  {% if page.extra.subtitle %}
  <h3 class="subtitle">{{ page.extra.subtitle }}</h3>
  {% endif %}

  {% if page.summary %}
  {{ page.summary | safe }}
  <a href="{{ page.permalink | safe }}#continue-reading">Leggi tutto</a>
  {% else %}
  {% if page.content | length < 1000 %}
  {{ page.content | safe }}
  {% else %}
  <a href="{{ page.permalink | safe }}">Leggi tutto</a>
  {% endif %}
  {% endif %}
  <div class="p-2"></div>

{% endfor %}
</div>

{% endblock content %}
