{% extends "base.html" %}

{% block content %}

{% set editions = terms | map(attribute="name") | sort | reverse %}

<div class="accordion" id="allEditions">
  {% for edition in editions %}
  {% set edition_data = get_taxonomy_term(kind="edition", term=edition) %}
  {% set expand = loop.index0 < config.extra.expanded_editions %}
  {% if expand %}
  {% set collapse = "" %}
  {% else %}
  {% set collapse = "collapsed" %}
  {% endif %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button {{collapse}}" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapse{{edition}}"
              aria-expanded="{{expand}}" aria-controls="collapse{{edition}}">
        Edizione {{edition}}
      </button>
    </h2>
    <div id="collapse{{edition}}" class="accordion-collapse collapse {%if expand%}show{%endif%}">
      <div class="accordion-body row">
        {% for page in edition_data.pages %}
          <div class="col-lg-4 highlight">
            {% include "preview.html" %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
