{% extends "base.html" %}

{% block content %}

{% set path = ["pagine/", term.name, ".md"] | join %}
{% set page = get_page(path=path) %}

<div class="gara-header mb-4" style="max-width: 900px;">
  <h1 class="fw-bold mb-3">{{page.title | safe }}</h1>
  {% if page.content %}
    <div class="gara-description mb-4 lead">
      {{page.content | safe }}
    </div>
  {% endif %}
</div>

<hr class="my-4" style="max-width: 900px;">

{% set page_list = term.pages %}
{% include "post_list.html" %}

{% endblock content %}
