{% import "img_macro.html" as img_macro %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
  {% if page %}
    {% if page.description != "" %}
      content="Olimpiadi di Informatica - {{page.description}}"
    {% else %}
      content="Olimpiadi di Informatica - {{page.title}}"
    {% endif %}
  {% else %}
      content="Olimpiadi di Informatica"
  {% endif %}
  >
  <title>Olimpiadi Italiane di Informatica</title>
  {% set bootstrap = load_data(path="static/bootstrap.min.css", format="plain") %}
  {% set custom = load_data(path="public/style.css", format="plain") %}
  <style>{{ bootstrap | safe }} {{ custom | safe }}</style>
  {% set bootstrapjs = load_data(path="static/bootstrap.bundle.min.js", format="plain") %}
  <script>{{ bootstrapjs | safe }}</script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6V23LS02FL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-6V23LS02FL');
  </script>
</head>

<body>
  <div class="container center">
    <a href="https://www.istruzione.it" class="logo">
      {{ img_macro::img(path="/logos/ministero.png", alt="logo MIM", width=350, height=140) }}
    </a>
    <a href="/" class="logo">
      {{ img_macro::img(path="/logos/oii.png", alt="logo Olimpiadi", width=350, height=140) }}
    </a>
    <a href="https://www.aicanet.it" class="logo">
      {{ img_macro::img(path="/logos/aica.png", alt="logo AICA", width=350, height=140) }}
    </a>
  </div>
  {% include "navbar.html" %}
  <div class="p-3"></div>
  <div class="container content">
    {% block content %} {% endblock %}
  </div>
  <div class="p-3"></div>
  {% include "footer.html" %}
</body>
</html>

