<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
  {% if page %}
    {% if page?.description and page.description != "" %}
      content="Olimpiadi di Informatica - {{page.description}}"
    {% else %}
      content="Olimpiadi di Informatica - {{page.title}}"
    {% endif %}
  {% else %}
      content="Olimpiadi di Informatica"
  {% endif %}
  >
  <title>Olimpiadi Italiane di Informatica</title>
  <link rel="icon" type="image/x-icon" href="{{ get_url(path='favicon.ico', cachebust=true) | replace(from=config.base_url, to='/') }}" />
  <link rel="stylesheet" href="{{ get_url(path='style.css', cachebust=true) | replace(from=config.base_url, to='/') }}" />
  <script defer src="{{ get_url(path='bootstrap.bundle.min.js', cachebust=true) | replace(from=config.base_url, to='/') }}"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6V23LS02FL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-6V23LS02FL');
  </script>
</head>

<body>
  <header class="site-header py-2">
    <div class="container">
      <div class="logo-container">
        <a href="https://www.istruzione.it" class="logo-item" title="Ministero dell'Istruzione e del Merito" target="_blank" rel="noopener">
          {{ <img path="/logos/ministero.png" alt="logo MIM" width={350} height={120} fraction_xl={30} fraction_md={30} fraction_sm={30} fraction_xs={45} /> }}
        </a>
        <a href="/" class="logo-item logo-main" title="Olimpiadi Italiane di Informatica">
          {{ <img path="/logos/oii.png" alt="logo Olimpiadi" width={350} height={120} fraction_xl={30} fraction_md={30} fraction_sm={35} fraction_xs={45} /> }}
        </a>
        <a href="https://anpc.it" class="logo-item" title="Associazione Nazionale Presidi per la Comunicazione" target="_blank" rel="noopener">
          {{ <img path="/logos/anpc.png" alt="logo ANPC" width={140} height={140} fraction_xl={15} fraction_md={15} fraction_sm={18} fraction_xs={25} /> }}
        </a>
        <a href="https://www.aicanet.it" class="logo-item" title="AICA" target="_blank" rel="noopener">
          {{ <img path="/logos/aica.png" alt="logo AICA" width={350} height={120} fraction_xl={30} fraction_md={30} fraction_sm={30} fraction_xs={45} /> }}
        </a>
      </div>
    </div>
  </header>
  {% include "navbar.html" %}
  <main class="container content mt-3 mb-5 flex-grow-1">
    {% block content %} {% endblock %}
  </main>
  {% include "footer.html" %}
</body>
</html>

