{% import "img_macro.html" as img_macro %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% set image = resize_image(path="/logos/oii.png", width=1200, height=627, op="fit", quality=92) %}
  <meta property="og:image" content="{{image.url}}">
  <meta name="description"
  {% if page %}
    {% if page.description != "" %}
      content="Olimpiadi di Informatica - {{page.description}}"
    {% else %}
      content="Olimpiadi di Informatica - {{page.title}}"
    {% endif %}
  {% else %}
      content="Olimpiadi di Informatica"
  {% endif %}
  >
  <title>Olimpiadi Italiane di Informatica</title>
  <link rel="stylesheet" href="/style.css" />
  <script defer src="/bootstrap.bundle.min.js"></script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6V23LS02FL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){ dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-6V23LS02FL');
  </script>
</head>

<body>
  <div class="container center">
    <a href="https://www.istruzione.it" class="logo">
      {{ img_macro::img(path="/logos/ministero.png", alt="logo MIM", width=350, height=140, fraction_xl=33, fraction_md=33, fraction_sm=33, fraction_xs=33) }}
    </a>
    <a href="/" class="logo">
      {{ img_macro::img(path="/logos/oii.png", alt="logo Olimpiadi", width=350, height=140, fraction_xl=33, fraction_md=33, fraction_sm=33, fraction_xs=33) }}
    </a>
    <a href="https://www.aicanet.it" class="logo">
      {{ img_macro::img(path="/logos/aica.png", alt="logo AICA", width=350, height=140, fraction_xl=33, fraction_md=33, fraction_sm=33, fraction_xs=33) }}
    </a>
  </div>
  {% include "navbar.html" %}
  <div class="p-3"></div>
  <div class="container content">
    {% block content %} {% endblock %}
  </div>
  <div class="p-3"></div>
  {% include "footer.html" %}
</body>
</html>

