<div class="container-fluid bg-dark footer">
  <div class="p-3"></div>
  <div class="container text-light">
    <div class="row">
      <div class="col-lg-3">
        <h5 class="text-light">Segreteria</h5>
        <p class="text-light">
          Laura Silva<br/>
          (AICA)<br/>
          <a href="tel:+390276455042" class="link-light">02 76455042</a><br/>
          <a href="mailto:info@olimpiadi-informatica.it" class="link-light">info@olimpiadi-informatica.it</a>
        </p>
      </div>
      <div class="col-lg-3">
        {% set page = get_page(path="pagine/stampa.md") %}
        <p><a href="{{page.path}}" class="link-light">Rassegna stampa</a></p>
        {% set page = get_page(path="pagine/storia-oii.md") %}
        <p><a href="{{page.path}}" class="link-light">Storia delle OII</a></p>
        {% set page = get_page(path="pagine/organizzazione.md") %}
        <p><a href="{{page.path}}" class="link-light">Organizzazione</a></p>
        {% set page = get_page(path="pagine/collaborazioni.md") %}
        <p><a href="{{page.path}}" class="link-light">Collaborazioni con università</a></p>
        {% set page = get_page(path="pagine/iniziative-organizzate-dai-referenti-territoriali.md") %}
        <p><a href="{{page.path}}" class="link-light">Iniziative dei referenti territoriali</a></p>
        {% set term = get_taxonomy_term(kind="gare", term="digit") %}
        <p><a href="{{term.path}}" class="link-light">Corso competenze digitali</a></p>
      </div>
      <div class="col-lg-6 collaborators">
        <h5>Collaborazioni</h5>
        <a href="https://www.hackersgen.com/" class="link-light">
          {{ img_macro::img(path="/logos/Hackersgen.jpg", width=100, height=100, alt="logo Hackersgen") }}
        </a>
        <a href="https://bendingspoons.com/" class="link-light">
          {{ img_macro::img(path="/logos/bending-spoons.png", width=100, height=100, alt="logo Bending Spoons") }}
        </a>
        <a href="https://www.sorint.com/" class="link-light">
          {{ img_macro::img(path="/logos/SORINT.png", width=100, height=100, alt="logo Sorint") }}
        </a>
        <a href="https://www.huawei.com/en/corporate-information" class="link-light">
          {{ img_macro::img(path="/logos/Huawei.jpg", width=100, height=100, alt="logo Huawei") }}
        </a>
        <a href="https://www.intel.com/content/www/us/en/homepage.html" class="link-light">
          {{ img_macro::img(path="/logos/intel.png", width=100, height=100, alt="logo Intel") }}
        </a>
        <a href="https://www.lenovo.com/it/it/pc/" class="link-light">
          {{ img_macro::img(path="/logos/lenovo.png", width=200, height=100, alt="logo Lenovo") }}
        </a>
      </div>
    </div>
  </div>
</div>
