{% extends "base.html" %}

{% block content %}
<div class="row text-center pb-4">
  <div>
    {{ img_macro::img(path="/logos/oii.png", alt="logo Olimpiadi", width=700, height=300, class="biglogo") }}
  </div>
</div>
<div class="row align-items-center">
  <div>
    Le Olimpiadi Italiane di Informatica (OII) sono rivolte agli studenti delle
    scuole superiori con l'obiettivo di diffondere l'apprendimento della
    programmazione per la risoluzione di problemi computazionali di crescente
    complessità. Le OII rappresentano un'opportunità stimolante per
    socializzare e competere nelle gare di programmazione, attraverso un
    percorso di selezione che comprende le fasi scolastica, territoriale e
    nazionale. Questo percorso mira a determinare le squadre nazionali che
    rappresenteranno l'Italia alle varie Olimpiadi Internazionali a cui il
    nostro paese partecipa. L'attenzione nelle OII è posta sul carattere
    algoritmico dei problemi, favorendo la partecipazione anche di coloro che
    non hanno conoscenze specialistiche pregresse. Questo richiede
    principalmente la capacità di ragionare e tradurre tale ragionamento in
    codice efficiente per il computer. Pronti a scoprire il mondo della
    programmazione competitiva? Iscriviti su
    <a href="http://www.olimpiadi-scientifiche.it/">www.olimpiadi-scientifiche.it</a>
  </div>
</div>
<div class="p-3"></div>
<div class="row">
  <div class="col-xl-6 lead">
    <h3><a href="https://fibonacci.olinfo.it/">Giochi di Fibonacci</a></h3>
      Prima si scopre una passione meglio è, no? Ecco perchè da pochi anni sono stati istituiti i Giochi di Fibonacci, una competizione pensata per i più piccoli: ragazzi delle elementari e delle medie.
      Sono l'occasione per conoscere la disciplina dell'informatica spesso poco trattata nei contesti scolastici prima delle superiori.
  </div>
  <div class="col-xl-6 lead">
    <h3><a href="https://sites.google.com/aldini.istruzioneer.it/olimpiadi-informatica-squadre/homepage">Olimpiadi a Squadre</a></h3>
      Affrontare una sfida da soli non è facile, ma in team può essere molto divertente. Inoltre spesso il modo migliore per imparare
      è osservare chi è più esperto di te. Il nostro campionato a squadre OIS, Olimpiadi di Informatica a Squadre,
      è pensato per questo!
  </div>
</div>
<div class="p-3"></div>

<div class="row">
  <h1>In evidenza</h1>
</div>
<div class="row">
  {% set highlight_counter = 0 %}
  {% for page in section.pages %}
    {% if not page.extra.highlighted %}{% continue %}{% endif %}
    {% set highlight_counter = highlight_counter + 1 %}
    {% if highlight_counter > 4 %}{% break %}{% endif %}
    <div class="col-xl-3 col-md-4 col-sm-6 highlight">
      {% include "preview.html" %}
    </div>
  {% endfor %}
</div>

{% set edition = config.extra.current_edition %}
{% set term = get_taxonomy_term(kind="edizioni", term=edition) %}
{% include "edition.html" %}

{% endblock content %}
