{% extends "base.html" %}

{% block content %}
<div class="row text-center">
  <h1 class="display-3 center">Le Olimpiadi di Informatica</h1>
</div>
<div class="row">
  <div class="col-xl-4">
    <img src="/logos/oii.png" />
  </div>
  <div class="col-xl-8 lead">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
    commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>
<div class="p-3"></div>
<div class="row">
  <!-- TODO -->
  <div class="col-xl-4">
    <h3>Giochi di Fibonacci</h3>
  </div>
  <div class="col-xl-4">
    <h3>Olimpiadi di Informatica</h3>
  </div>
  <div class="col-xl-4">
    <h3>Olimpiadi a Squadre</h3>
  </div>
</div>
<div class="p-3"></div>
<div class="row text-center">
  <h1>Allenati</h1>
</div>
<div class="row">
  <!-- TODO -->
  <div class="col-xl-4">
    <h3><a href="https://scolastiche.olinfo.it">Scolastiche</a></h3>
  </div>
  <div class="col-xl-4">
    <h3><a href="https://territoriali.olinfo.it">Territoriali</a></h3>
  </div>
  <div class="col-xl-4">
    <h3><a href="https://training.olinfo.it">Nazionali</a></h3>
  </div>
</div>
<div class="p-3"></div>

<div class="row text-center">
  <h1>In evidenza</h1>
</div>
<div class="row">
  {% set highlight_counter = 0 %}
  {% for page in section.pages %}
    {% if not page.extra.highlighted %}{% continue %}{% endif %}
    {% set highlight_counter = highlight_counter + 1 %}
    {% if highlight_counter > 4 %}{% break %}{% endif %}
    <div class="col-xl-3 col-md-4 col-sm-6 highlight">
      {% include "preview.html" %}
    </div>
  {% endfor %}
</div>

{% set edition = config.extra.current_edition %}
<div class="row text-center">
  <h1 id="edition-{{edition}}">Edizione {{edition}}</h1>
</div>
<div class="row">
  {% set edition_data = get_taxonomy_term(kind="edition", term=edition) %}
  {% set page_list = edition_data.pages %}
  {% include "post_list.html" %}
</div>

{% endblock content %}
