{% extends "base.html" %}

{% block content %}
<div class="row text-center pb-4">
  <div>
    {{ img_macro::img(path="/logos/oii.png", alt="logo Olimpiadi", width=700, height=300, class="biglogo") }}
  </div>
</div>
<div class="row align-items-center">
  <div class="lead">
    Le Olimpiadi italiane di informatica sono una competizione volta ad
    introdurre i ragazzi delle superiori al mondo del problem solving.
    Attraverso tre selezioni &mdash; scolastica, territoriale e nazionale
    &mdash; verranno scelti i rapresentanti italiani alle gare internazionali.
    A differenza di altre simili competizioni nazionali, qui l'attenzione è
    posta sul carattere algoritmico, richiedendo la capacità di tradurre un
    ragionamento in codice comprensibile anche da un computer. La
    programmazione gioca un ruolo fondamentale in questa competizione, ma la
    rende anche l'occasione perfetta per scoprire un mondo magari solo
    accennato sui banchi di scuola. Pronti a scoprire cosa è la programmazione
    competitiva? allora iscriviti su <a href="http://www.olimpiadi-scientifiche.it/">www.olimpiadi-scientifiche.it</a>
  </div>
</div>
<div class="p-3"></div>
<div class="row">
  <!-- TODO -->
  <div class="col-xl-6">
    <h3>Giochi di Fibonacci</h3>
      Prima si scopre una passione meglio è, no? Ecco perchè da pochi anni sono stati istituiti i Giochi di Fibonacci, una competizione pensata per i più piccoli: ragazzi di quarta e quinta elementare e delle medie.
      Sono l'occasione, soprattutto per chi sta per scegliere un percorso di formazione superiore, di
      conoscere la disciplina dell'informatica spesso poco trattata nei contesti scolastici. Per sapere come iscriversi <a href="https://fibonacci.olinfo.it/">Giochi di Fibonacci</a>
  </div>
  <div class="col-xl-6">
    <h3>Olimpiadi a Squadre</h3> 
      Affrontare una sfida da soli non è facile, ma in team può essere molto divertente. Inoltre spesso il modo migliore per imparare
      è osservare chi è più esperto di te. Ecco il nostro campionato a squadre OIS, Olimpiadi di Informatica a Squadre,
      è pensato per questo! Visita <a href="https://sites.google.com/aldini.istruzioneer.it/olimpiadi-informatica-squadre/homepage">OIS</a>.
  </div>
</div>
<div class="p-3"></div>
<div class="row">
  <h1>Allenati</h1>
  Il modo migliore di migliorare è allenarsi, ecco dove potresti trovare materiali utili per le varie selezioni
</div>
<div class="row">
  <div class="col-xl-4">
    <h3 style="text-align: center;"><a href="https://scolastiche.olinfo.it">Scolastiche</a></h3>
  </div>
  <div class="col-xl-4">
    <h3 style="text-align: center;"><a href="https://territoriali.olinfo.it">Territoriali</a></h3>
  </div>
  <div class="col-xl-4">
    <h3 style="text-align: center;"><a href="https://training.olinfo.it">Nazionali</a></h3>
  </div>
</div>
<div class="p-3"></div>

<div class="row">
  <h1>In evidenza</h1>
</div>
<div class="row">
  {% set highlight_counter = 0 %}
  {% for page in section.pages %}
    {% if not page.extra.highlighted %}{% continue %}{% endif %}
    {% set highlight_counter = highlight_counter + 1 %}
    {% if highlight_counter > 4 %}{% break %}{% endif %}
    <div class="col-xl-3 col-md-4 col-sm-6 highlight">
      {% include "preview.html" %}
    </div>
  {% endfor %}
</div>

{% set edition = config.extra.current_edition %}
<div class="row">
  <h1 id="edition-{{edition}}">Edizione {{edition}}</h1>
</div>
{% set edition_data = get_taxonomy_term(kind="edizioni", term=edition) %}
{% set page_list = edition_data.pages %}
{% include "post_list.html" %}

{% endblock content %}
