<nav class="navbar navbar-expand-lg bg-dark sticky-top" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="/">OII</a>
    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% set active = taxonomy and taxonomy.name == 'gare' %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {%if active%}active{%endif%}" href="#"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Gare
          </a>
          <ul class="dropdown-menu">
            {% set term = get_taxonomy_term(kind="gare", term="scolastiche") %}
            <li><a class="dropdown-item" href="{{term.path}}">Scolastiche</a></li>
            {% set term = get_taxonomy_term(kind="gare", term="territoriali") %}
            <li><a class="dropdown-item" href="{{term.path}}">Territoriali</a></li>
            {% set term = get_taxonomy_term(kind="gare", term="nazionali") %}
            <li><a class="dropdown-item" href="{{term.path}}">Nazionali</a></li>
            {% set term = get_taxonomy_term(kind="gare", term="stage") %}
            <li><a class="dropdown-item" href="{{term.path}}">Stage</a></li>
            {% set term = get_taxonomy_term(kind="gare", term="internazionali") %}
            <li><a class="dropdown-item" href="{{term.path}}">Internazionali</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Allenati
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="https://algobadge.olinfo.it/">Algobadge</a></li>
            <li><a class="dropdown-item" href="https://scolastiche.olinfo.it/">Scolastiche</a></li>
            <li><a class="dropdown-item" href="https://territoriali.olinfo.it/">Territoriali</a></li>
            <li><a class="dropdown-item" href="https://training.olinfo.it">Nazionali e internazionali</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/#edition-{{config.extra.current_edition}}">Edizione corrente</a>
        </li>
        <li class="nav-item">
          {% set edition_t = get_taxonomy(kind="edizioni") %}
          {% set active = taxonomy and taxonomy.name == 'edizioni' %}
          <a class="nav-link {%if active%}active{%endif%}" aria-current="page" href="{{edition_t.permalink}}">Tutte le edizioni</a>
        </li>
        <li class="nav-item">
          {% set gallery_s = get_section(path="gallery/_index.md", metadata_only=true) %}
          {% set active_s = section and section.title == 'Gallery' %}
          {% set active_p = page and page.path is starting_with("/gallery/") %}
          {% set active = active_p or active_s %}
          <a class="nav-link {%if active%}active{%endif%}" aria-current="page" href="{{gallery_s.path}}">Gallery</a>
        </li>
      </ul>
      <form class="d-flex" role="search" onsubmit="search(); return false;" style="position: relative;">
        <input class="form-control me-2" type="search" placeholder="Cerca" id="searchbar" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Cerca</button>
        <div id="search-results" style="display: none;" data-bs-theme="light">
        </div> 
      </form>
    </div>
  </div>
</nav>
<script type="text/javascript">
  const specialURIs = {};
  {% set taxonomy = get_taxonomy(kind="gare") %}
  {% for term in taxonomy.items %}
  {% set path = ["pagine/", term.name, ".md"] | join %}
  {% set page = get_page(path=path) %}
  specialURIs["{{page.permalink | safe}}"] = "{{term.permalink | safe}}";
  {% endfor %}
  {% set taxonomy = get_taxonomy(kind="edizioni") %}
  {% for term in taxonomy.items %}
  {% set path = ["pagine/edizione-", term.name, ".md"] | join %}
  {% set page = get_page(path=path) %}
  specialURIs["{{page.permalink | safe}}"] = "{{term.permalink | safe}}";
  {% endfor %}
  {% set js = load_data(path="templates/search.js") %}
  {{ js | safe }}
</script>
