{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
{% if page.extra.subtitle %}
<h3 class="subtitle">{{ page.extra.subtitle }}</h3>
{% endif %}

{% set d = page.date | date %}

{% if page.updated %}
{% set u = page.updated | date %}
{% else %}
{% if page.extra.override_updated %}
{% set u = page.extra.override_updated | date %}
{% else %}
{% set u = d %}
{% endif %}
{% endif %}

{% if d == u %}
<h5>{{d}}</h5>
{% else %}
<h5>{{d}}<span class="text-body text-opacity-50">, aggiornato il {{u}}</span></h5>
{% endif %}
{% if page.extra.thumbnail %}
{{ img_macro::img(path=page.extra.thumbnail, width=1000, height=500, alt="{{ page.title }}", class="img-fluid mx-auto d-block page-thumbnail") }}
<div class="p-2"></div>
{% endif %}
{{ page.content | safe }}
<div class="p-2"></div>
{% endblock content %}
