{% for page in page_list %}
  {% if loop.index != 1 %}
  <hr>
  {% endif %}
  <h2 class="title">
    <a href="{{ page.permalink | safe }}" class="link-secondary link-underline-opacity-0" >{{ page.title }}</a>
  </h2>
  {% if page.extra.subtitle %}
  <h3 class="subtitle">{{ page.extra.subtitle }}</h3>
  {% endif %}

  {% if page.summary %}
  {{ page.summary | safe }}
  <a href="{{ page.permalink | safe }}#continue-reading">Leggi tutto</a>
  {% else %}
  {% if page.content | length < 1000 %}
  {{ page.content | safe }}
  {% else %}
  <a href="{{ page.permalink | safe }}">Leggi tutto</a>
  {% endif %}
  {% endif %}
  <div class="p-2"></div>
{% endfor %}

