<a href="{{ page.permalink | safe }}" class="link-secondary link-underline-opacity-0">
  <div class="thumbnail d-flex align-items-center my-1 {% if not page.extra.thumbnail %}fake-thumbnail{% endif %}">
    {% if page.extra.thumbnail %}
    <img src="{{page.extra.thumbnail}}" class="img-thumbnail mx-auto d-block" />
    {% endif %}
  </div>
  <h5 class="text-body">{{ page.title }}</h5>
  {% if page.extra.subtitle %}
  <p>{{ page.extra.subtitle }}</p>
  {% endif %}
  <div class="p-3"></div>
</a>
