<a href="{{ page.permalink | safe }}" class="link-secondary link-underline-opacity-0 post-preview">
  <div class="thumbnail d-flex align-items-center my-1">
    {% if page.extra.thumbnail %}
    {% set scaled = resize_image(path=page.extra.thumbnail, width=500, height=350, op="fit", quality=93) %}
    <img src="{{scaled.url}}" class="img-thumbnail mx-auto d-block" alt="thumbnail {{page.title}}"/>
    {% else %}
    <div class="fake-thumbnail d-block mx-auto"></div>
    {% endif %}
  </div>
  <h5 class="text-body">{{ page.title }}</h5>
  {% if page.extra.subtitle %}
  <p>{{ page.extra.subtitle }}</p>
  {% endif %}
  <div class="p-3"></div>
</a>
